@import "tailwindcss";
:root{
  --primary-colour: var(--energy-blue);
  --primary-second-colour: var(--energy-purple);
  --primary-third-colour: var(--energy-mid-blue);
  --gradient-start-colour:  var(--energy-blue);
  --gradient-end-colour:  var(--energy-purple);

  --energy-blue: #5bc1f8;
  --energy-mid-blue: #3c64e3;
  --energy-purple: #5c0ec1;


  --theme-1-primary: #fc03e3;
  --theme-1-mid: #ad03fc;
  --theme-1-secondary: #1400FF;


  --theme-2-primary: #03dbfc;
  --theme-2-mid: #0373fc;
  --theme-2-secondary: #6703fc;


  --theme-3-primary: #00FA5E;
  --theme-3-mid: #00EDFA;
  --theme-3-secondary: #00F9B1;

  --general-white: #ffffff;
  --general-black: #000000;
}

@layer utilities {
  .hover\:border-gradient:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    ) 1;
  }
}

@keyframes rotatePulse {
  0%   { transform: rotate(0deg);   opacity: 0.0; }
  10%  { transform: rotate(180deg); opacity: 0.1; }
  20%  { transform: rotate(180deg); opacity: 0.0; }
  30%  { transform: rotate(180deg); opacity: 0.0; }
  40%  { transform: rotate(180deg); opacity: 0.1; }
  50%  { transform: rotate(180deg); opacity: 0.1; }
  60%  { transform: rotate(360deg); opacity: 0.0; }
  70%  { transform: rotate(360deg); opacity: 0.0; }
  80%  { transform: rotate(360deg); opacity: 0.1; }
  90%  { transform: rotate(360deg); opacity: 0.0; }
  100%  { transform: rotate(360deg); opacity: 0.0; }

}
.animate-rotate-pulse {
  animation: rotatePulse 35s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */ 
}
*{
  font-family: "Montserrat";

  ::selection{
    background: var(--primary-colour);
    color: white;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading {
  width: 50%;
  animation: loading 1.5s infinite linear;
}

@theme{
--font-primary: "Montserrat", sans-serif;
}

.truncate-text { 
  white-space: nowrap; 
  overflow: hidden;     
  text-overflow: ellipsis;
}


.rotatingBlur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: rotate(45deg) translateZ(0); 
  will-change: transform, backdrop-filter;
}

/* Spinner Loader */
.loaderSpinner {
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top: 4px solid var(--primary-colour);
  border-right: 4px solid var(--primary-colour);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* LoadingScreen CSS */
.loader {
  display: flex;

}

.l,.l:nth-child(9) {
  margin: 0.15em;
  border-radius: 5em;
  width: 0.4em;
  background-color: #5c0ec1;
  height: 3em;
  box-shadow: 1px 1px 4px black;
  animation: load_5186 cubic-bezier(.41,.44,.72,.69) 2s infinite;
}

.l:nth-child(2), 
.l:nth-child(8) {
  background-color: #4d30cd;
  animation-delay: .25s;
}

.l:nth-child(3), 
.l:nth-child(7) {
  background-color: #4655d8;
  animation-delay: .5s;
}

.l:nth-child(4), 
.l:nth-child(6) {
  background-color: #4a90e9;
  animation-delay: .75s;
}

.l:nth-child(5) {
  background-color: #5bc1f8;
  animation-delay: 1s;
}

@keyframes load_5186 {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(-1);
  }
}







/* WAVE */
@keyframes wave {
  0%, 100% { 
    transform: scaleY(0.3); 
    opacity: 0.2; 
  }
  50% { 
    transform: scaleY(1);  
    opacity: .7; 
  }
}

.animate-wave {
  height: 100%;                 
  transform-origin: center;      
  animation: wave 1.2s ease-in-out infinite;
}